# Environments
.env
.env.*

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node/JavaScript
node_modules/

# Build/Distribution Artefacts
dist/
build/
*.egg-info/

# Editors
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log
logs/

# Test Coverage
coverage/

# Database
*.db
*.sqlite3

# Django
staticfiles/